 body 
 { background-color:orange;
               font-family: times new roman serif;
               font-size: 120%;
               text-transform: none;
               margin: 25px;
               }
               h1,
          h2 {
             color: #fff;
             heading: bolded;
             }
          p {
              line-height: 2em;
            }
           
        



